<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" type="text/css" href="{{ "./assets/css/style.css" | absolute_url }}">


</head>
  <body>
  <header>  <nav>
    <ul>
<li><a href="./../topics/GettingStarted.html">Getting Started</a></li>
<li><a href="./../topics/Intro.html">Introduction</a></li>
<li><a href="./../topics/story1.html">Hunted Down</a></li>
<li><a href="./../topics/story2.html">Nobody's story</a></li>
</ul>
    </nav></header>
    <main>
      <div>
        {{ content }}
      </div>

    </main>
Copyright@Surya
The page was built at {{ site.time}}.
  </body>
</html>
